<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h2>Detail Contact</h2>
			<% if (!contact) { %>
			<div class="alert alert-danger fw-bold" role="alert">
				Contact not found! <br />
				<a href="/contacts" class="alert-link fw-normal"
					>&laquo; Back to Contact List!</a
				>
			</div>
			<% } else {%>
			<div class="card" style="width: 18rem">
				<div class="card-body">
					<h5 class="card-title"><%= contact.name %></h5>
					<h6 class="card-subtitle mb-2 text-muted"><%= contact.noHP %></h6>
					<p class="card-text"><%= contact.email %></p>
					<a
						href="/contacts/edit/<%= contact.name %>"
						class="btn btn-info badge"
						>Edit</a
					>
					<a
						href="/contacts/delete/<%= contact.name %>"
						class="btn btn-danger badge"
						onclick="return confirm('Are u sure?')"
						>Delete</a
					>
					<a href="/contacts" class="card-link d-block mt-3"
						>&laquo; Back to Contact List</a
					>
				</div>
			</div>
			<% } %>
		</div>
	</div>
</div>
