<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2>Data Contact Editing Form</h2>

			<% if (typeof errors != 'undefined') { %>
			<div class="alert alert-danger" role="alert">
				<ul>
					<% errors.forEach(error => { %>
					<li><%= error.msg %></li>
					<% }) %>
				</ul>
			</div>
			<% } %>
			<form method="post" action="/contacts/update">
				<input
					type="hidden"
					name="oldName"
					value="<%= contact.oldName || contact.name %>"
				/>
				<div class="mb-3">
					<label for="name" class="form-label">Name</label>
					<input
						type="text"
						class="form-control"
						id="name"
						name="name"
						autocomplete="off"
						value="<%= contact.name %>"
						required
					/>
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">Email</label>
					<input
						type="email"
						class="form-control"
						id="email"
						name="email"
						value="<%= contact.email %>"
						autocomplete="off"
					/>
				</div>
				<div class="mb-3">
					<label for="name" class="form-label">Number Phone</label>
					<input
						type="text"
						class="form-control"
						id="name"
						name="noHP"
						value="<%= contact.noHP %>"
						autocomplete="off"
						required
					/>
				</div>
				<button type="submit" class="btn btn-primary">Edit Contact</button>
			</form>
		</div>
	</div>
</div>
